* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}
/*------------------ Aplicamos estilos al header --------------------*/
header section {
    display:flex;
    justify-content: space-between;
    box-shadow: 0 1.5px 0 rgba(0,0,0,0.2);
    align-items: center;
    padding: 10px 10%;
    /* background-color: #fdebd0; */
    /* background-color: #fef5e7; */
    /* background-color: #fff2df; */
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100%;
    height: 5em;
    top: 0;
}

header nav {
    padding-left: 5%;
}

.logo-page {
    display: inline-block;
    /* width: 60px;
    height: 50px; */
    width: 5em;
    height: max-content;
    cursor: pointer;
}

li, a, button {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 0.2rem;
    cursor: pointer;
}


header a {
    transition: 0.4s;
}

header a:hover {
    /* color: #873600; */
    font-weight: bold;
    /* font-size: 16px; */
}

header button {
    transition: 0.4s;
    background-color: #ebd9c1;
    padding: 0.4rem;
    border-radius: 0.9rem;
    border: none;
    font-weight: normal;
    font-size: 14px;
}

/* Aplicamos hover a buttom */
header button:hover {
    border-radius: 0.5rem;
    background-color: rgba(245, 203, 167, 0.8);
}

/* Aplicamos estilo al main--------------------------------- */
main {
    /* border: 1px red solid; */
    margin: 5em auto 0 auto;
    /* position: relative; */
}

.main-sec {
    width: 80%;
    height: 680px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/peyoteImagen/portadaFoto.jpg");
    background-size: cover;
    margin: 0 auto;
}

.main-titles {
    /* border: 5px solid blue; */
    /* width: fit-content; */
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    display: inline-block;
    /* margin-top: 15%;
    margin-left: 35%; */
    margin: 18% 32%;

}

main section h1 {
    /* display: inline-block; */
    font-family: 'Montserrat', sans-serif;
    color: #FEF5E9;
    font-size: 3rem;
}

main section h4 {
    /* margin-left: 15%; */
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    color: #efefef;
}

/* Aplicamos estilos al selector container----------------------- */
.container {
    display: flex;
    /* border: 1px red solid; */
    width: 80%;
    margin: 3% auto;
    padding: 1rem;
}

.container img {
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    margin-left: 5rem;
}

.container-p {
    /* border: 1px red solid; */
    padding: 1.5rem;
    margin-right: 3rem;
    margin-top: 5.5rem;
    text-align: justify;
    color: #343939;
    height: fit-content;
    /* font-family: 'Libre Franklin', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Lora', sans-serif;
}

.container-p a {
    transition: 0.4s;
    /* font-weight: lighter; */
}

.container-p a:hover{
    color: #873600;
}

/* Aplicamos estilo a espacio de lugares---------------------- */
.container-places {
    height: fit-content;
    /* background-color: #cacfd2; */
    /* background-color: #fae5d3; */
    background-color: #f7e1cf;
    padding-bottom: 1em;
}

.places-titles {
    /* border: 2px blue solid; */
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 3em 0;

    font-family: 'Montserrat', sans-serif;
}

.places-titles h3 {
    font-size: 1.8em;
}

.place-text {
    /* border: 1px green solid; */
    width: fit-content;
    margin: 0 auto;
    font-size: 0.9em;
    padding-top: 1em;
    text-align: justify;
}


.places {
    /* background-color: red; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.places section {
    width: 20em;
    height: 30em;
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
}

.places section img {
    border: 1px red solid;
    display: block;
    margin: 4em auto;
}

.peyote {
    /* background-color: black; */
    /* border: 2px white solid; */
    display: inline-block;
}

.peyotito {
    /* background-color: yellow; */
    /* border: 2px green solid; */
    display: inline-block;
}

.colectika {
    /* background-color: black; */
    /* border: 2px white solid; */
    display: inline-block;
}

.place-names {
    font-size: 1.2em;
}

.place-info {
    padding: 1em 3.5em;
    font-size: 0.9em;
}

/* Aplicamos estilo a footer ----------------------------------*/
footer {
    display: inline-block;
    background-color: #21252b;
    height: fit-content;
    width: 100%;
    color: #efefef;
    font-family: 'Work Sans', sans-serif;
}

footer section {
    /* border: 1px red solid; */
    /* margin: 1.5rem 0 1rem 6% ; */
    height: fit-content;
    width: fit-content;
}

footer section h3 {
    font-size: small;
    font-weight: normal;
    /* text-align: center; */
    color: #979d9d;
    /* border: 1px yellow solid; */
    margin-bottom: 0.5rem;
}

footer .meet-us {
    float: left;
    margin: 1.5rem 0 0 10%;
}

footer .meet-us h3 {
    font-size: medium;
    padding-bottom: 0.5rem;
    border-bottom: 1.7px #efefef solid;
}

footer .meet-us p {
    font-size: small;
    color: #979e9e;
}

footer .meet-us .email {
    font-size: small;
    color: #979e9e;
    text-decoration: underline;
}

footer .redes {
    float: right;
    margin: 1.5rem 10% 0 0;
}

footer .redes h3 {
    text-align: center;
}

footer section a {
    /* border: 1px blue solid; */
    /* margin-left: 1rem; */
    margin: 0 auto;
    padding: 0 0.5rem 0 0.5rem;
}

footer .f-copy {
    background-color: #3c424c;
    margin-top: 11rem;
    width: 100%;
    padding: 1rem 0 1rem 10%;
}

footer p.copyright {
    /* border: 1px green solid; */
    width: fit-content;
    /* margin: 10rem auto 1rem 10%; */
    font-size: 13px;
    color: #979a9a;
}

footer a img {
    width: 30px;
    height: 30px;
}
